a {
  text-decoration: none;
}
.link {
  color: black;
}
.active {
  color: brown;
  text-decoration: underline;
}

.nav {
  display: flex;
  gap: 5px;
  padding: 20px;
  padding-left: 32px;
  border-bottom: 2px solid gray;
}
